@import '~bootstrap/scss/bootstrap.scss';
@import '~@sweetalert2/theme-dark/dark.scss';
@import './scss/theme-1.scss';
@import './scss/theme-2.scss';
@import './scss/responsiveSizes.scss';
@import './scss/size.scss';

.footer {
  background-color: var(--bsp-bg-footer);
  color: var(--bsp-bg-footer);
  position: fixed;
  bottom: 0!important;
  justify-content: space-between;
  width: 100%;
}

.theme-1, .theme-2 {
  .except {
    color: var(--bsp-floating-labels) 
  }
  .btn {
    --bs-btn-body: var(--bsp-color-white);
    --bs-btn-bg: var(--bsp-btn-1);
    --bs-btn-border-color: var(--bsp-btn-1);
    --bs-btn-hover-color: var(--bsp-color-white);
    --bs-btn-hover-bg: var(--bsp-btn-2);
    --bs-btn-hover-border-color: var(--bsp-btn-3);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--bsp-color-white);
    --bs-btn-active-bg: var(--bsp-btn-3);
    --bs-btn-active-border-color: var(--bsp-btn-4)e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bsp-color-white);
    --bs-btn-disabled-bg: var(--bsp-btn-1);
    --bs-btn-disabled-border-color: var(--bsp-btn-1);

    svg {
      color: var(--bsp-btn-font-color) !important
    }
  }
  width: 100%;
  height: 100%;
  background: var(--bsp-bg-body);
  background-attachment: fixed;
  label, h1, h2, h3, h4, h5, h6 {
    color: var(--bsp-font-color)
  }
  .position-absolute {
    background: var(--bsp-bg-body);
  }
  .back {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--bsp-bg-body)
  }
  #dropdown-menu-p {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bsp-btn-font-color);
    --bs-dropdown-bg: var(--bsp-btn-1);
    --bs-dropdown-border-color: var(--bsp-btn-1);
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: var(--bsp-btn-font-color);
    --bs-dropdown-link-hover-color: var(--bsp-btn-font-color);
    --bs-dropdown-link-hover-bg: var(--bsp-btn-2);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
  }
  .input-group {
    span {
      background: var(--bsp-btn-2);
      color: var(--bsp-btn-font-color);
      border: 1px solid var(--bsp-btn-2);
    }
  
    input {
      background: var(--bsp-btn-1);
      color: var(--bsp-btn-font-color);
      border: 1px solid var(--bsp-btn-1);
    }
    
  }
  select {
    background: var(--bsp-btn-1);
    color: var(--bsp-btn-font-color);
    border: 1px solid var(--bsp-btn-1);
    background-image: url('./img/arrow-down-white-52x52.png');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 16px;
  }
  .table {
    --bs-table-color: var(--bsp-btn-font-color);
    --bs-table-border-color: var(--bsp-bg-navbar-line);
  }

} 

a {
  text-decoration: none;
}

hr {
  height: 3px;
  background-color: var(--bsp-bg-navbar-line);
  margin: 0 0.5em;
  border-radius: 200%;
  opacity: 1;
}

button > span > label {
  color: unset;
}

.ppr-1 > span > svg {
  position: relative;
  font-size: 1.5em;
}

.navbar > div {
  height: 40.4px;
}

.pps-rb {
  right: 0;
  bottom: 0px;
  margin: 0 0.5em 1.8em 0;
}


.tx-center {
  text-align: -webkit-center;
}

.p-table {
  overflow-y: auto;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin-bottom: 6em;
}

.stats {
  bottom: 0;
  padding-bottom: 1.5em;
}
.p-hide {
  width: 20px;
  position:absolute;
  padding: 0 85px 10px 0;
  z-index: 2;
  opacity: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: blue;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.va-center > span > svg {
  position: relative;
  bottom: 2px;
  z-index: 1;
}