@import '~bootstrap/scss/bootstrap.scss';
@import './scss/theme-1.scss';
@import './scss/theme-2.scss';
@import './scss/responsiveSizes.scss';
@import './scss/size.scss';

.footer {
  background-color: var(--bsp-bg-footer);
  color: var(--bsp-bg-footer);
  position: fixed;
  bottom: 0!important;
  width: 100%;
}

.theme-1, .theme-2 {
  .except {
    color: var(--bsp-floating-labels) 
  }
  .btn {
    --bs-btn-body: var(--bsp-color-white);
    --bs-btn-bg: var(--bsp-btn-1);
    --bs-btn-border-color: var(--bsp-btn-1);
    --bs-btn-hover-color: var(--bsp-color-white);
    --bs-btn-hover-bg: var(--bsp-btn-2);
    --bs-btn-hover-border-color: var(--bsp-btn-3);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--bsp-color-white);
    --bs-btn-active-bg: var(--bsp-btn-3);
    --bs-btn-active-border-color: var(--bsp-btn-4)e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bsp-color-white);
    --bs-btn-disabled-bg: var(--bsp-btn-1);
    --bs-btn-disabled-border-color: var(--bsp-btn-1);
    svg {
      color: var(--bsp-btn-font-color) !important
    }
  }
  width: 100%;
  height: 100%;
  background: var(--bsp-bg-body);
  background-attachment: fixed;
  label, h1, h2, h3, h4, h5, h6 {
    color: var(--bsp-font-color)
  }
  .position-absolute {
    background: var(--bsp-bg-body);
  }
  .back {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--bsp-bg-body)
  }
} 
a {
  text-decoration: none;
}

hr {
  height: 3px;
  background-color: var(--bsp-bg-navbar-line);
  margin: 0 0.5em;
  border-radius: 200%;
}

button > span > label {
  color: unset;
}

.ppr-1 > span > svg {
  position: relative;
  font-size: 1.5em;
}

.navbar > div {
  height: 40.4px;
}

.pps-rb {
  right: 0;
  bottom: 0px;
  margin: 0 0.5em 1.8em 0;
}

.input-group {
  span {
    background: #3d3d3d;
    color: white;
    border: 1px solid #3d3d3d;
  }

  input {
    background: #1e1e1e;
    color: white;
    border: 1px solid #1e1e1e;
  }
}
.tx-center {
  text-align: -webkit-center;
}