.theme-1 {
  --bsp-btn-font-color: #fff;
  --bsp-bg-body: #fff;
  --bsp-btn-1: #0d6efd;
  --bsp-btn-2: #0b5ed7;
  --bsp-btn-3: #0a58ca;
  --bsp-btn-4: #0a53be;
  --bsp-primary-button: #0d6efd;
  --bsp-float-label-color: rgba(255,255,255,.9);
  --bsp-bg-navbar-line: rgba(255,255,255,.9);
  --bsp-font-color: rgba(0,0,0,0.9);
  --bsp-floating-labels: rgba(0,0,0,0.9);
  --bsp-color-white: #fff;
  --bsp-bg-footer: #000;
  --bsp-font-color-footer: #fff
}