.theme-2 {
  --bsp-btn-font-color: #fff;
  --bsp-bg-body: #121212;
  --bsp-bg-input: #1e1e1e;
  --bsp-bg-input-border: #3d3d3d;
  --bsp-btn-1: #1e1e1e;
  --bsp-btn-2: #3d3d3d;
  --bsp-btn-3: #4d4d4d;
  --bsp-btn-4: #5e5e5e;
  --bsp-float-label-color: rgba(255,255,255,.9);
  --bsp-bg-navbar-line: rgba(255,255,255,.25);
  --bsp-primary-button: #1f90de;
  --bsp-font-color: #1f90de;
  --bsp-floating-labels: rgba(0,0,0,0.9);
  --bsp-color-white: #fff;
  --bsp-bg-footer: #000;
  --bsp-font-color-footer: #fff
}

.swal2-popup {
  background: #1e1e1e !important;
  color: rgba(255,255,255,.9) !important;
}
.swal2-styled.swal2-confirm {
  background-color: #1f90de !important;
}
.swal2-validation-message {
  background: #3d3d3d !important;
  color: rgba(255,255,255,.9) !important;
}