.container {
  font-size: 17px;
  margin-left: 10px;
  padding: 5px 10px 5px 30px;
  display: flex;
  height: 25px;
  align-items: center;
}
.container > svg {
  width: 25px;
  justify-content: center;
}

.container > div {
  line-height: 25px;
  margin-left: 5px;
}

.container > svg > path, .container > div {
  color: rgba(0,0,0,.5);
  stroke: rgba(0,0,0,.5);
}

.container:hover > div {
  color: rgba(0,0,0,.6);
  cursor: default;
  user-select: none;
}

.container:hover > svg > path {
  stroke: rgba(0,0,0,.6);
}

.container:active > div {
  color: rgba(0,0,0,.8);
}

.container:active > svg > path {
  stroke: rgba(0,0,0,.8);
  fill: rgba(0,0,0,.8);
}