.container:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  background-color: #5d87ff;
  border-color: #5d87ff;
}

.container {
  height: 1.313em;
  width: 1.313em;
  border-radius: 0.25em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1.25px solid #dfe5ef;
  appearance: none;
  margin-top: 0.0935em;
  vertical-align: top;
  transition: all .1s ease-in-out;
}