body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.input {
  border-radius: 7px;
  padding: 8px 16px;
  font-size: .875rem;
  font-weight: 400;
  color: #5a6a85;
  background-color: transparent;
  box-shadow: unset;
  border: 1px solid #dfe5ef;
  outline: none;
}

tbody, thead, td {
  border: 1px solid black;
}